/* Tokyo Night Dark by Michaël Ball */

:root {
  --base00: #1A1B26;
  --base01: #16161E;
  --base02: #2e2e32;
  --base03: #444B6A;
  --base04: #e7f8eb;
  --base05: #bbc1d9;
  --base06: #CBCCD1;
  --base07: #D5D6DB;
  --base08: #f5925d;
  --base09: #A9B1D6;
  --base0A: #0DB9D7;
  --base0B: #f7df0b;
  --base0C: #f6ad30;
  --base0D: #2AC3DE;
  --base0E: #49f322;
  --base0F: #F7768E;
}