:root {
	/* Background */
	--bg: var(--base00);
	--off-bg: var(--base01);
	--inner-bg: var(--base02);

	/* Text */
	--fg: var(--base05);
	--off-fg: var(--base07);
	--muted: var(--base03);
	--link: var(--base0D);
	--hover: var(--base0C);
	--big-titles: var(--base0C);
	--small-titles: var(--base0E);
	--highlight: var(--base0A);
	--list-marquer: var(--base0C);
	--code: var(--base04);

	/* Logo */
	--logo: var(--base0B);
}