/* Override this file to customise the theme's CSS for your site */


.section-path {
    /*width: 100%; TODO: zsh agnoster styled path
    height: 200px;
        shape-outside: polygon(100% 50, 100% 100%, 0 100%, 50 100%, 50 100%);
    -webkit-shape-outside: polygon(100% 50, 100% 100%, 0 100%, 50 100%, 50 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);*/
    background-color: var(--base0D);
    color: black;
    float: left;
}

.series-path {
    /*TODO: zsh agnoster styled path*/
    background-color: var(--base0B);
    color: black;
    float: left;
}