{{ define "main" }}

<header class="content__header">

    <div class="section-path">{{.CurrentSection}}</div>
    {{ if (.Params.series) }}<div property="mainEntity" class="series-path">{{.Params.series}}</div>{{end}}<br>

    {{ if .Params.tags }} {{range .Params.tags }}<div property="keywords" class="tag">{{ . }}</div>{{ end }}<br>{{ end
    }}

    <h1 property="name">{{ .Title | markdownify }}</h1>
</header>
<div class="content__body">
    {{ .Content }}
</div>
<footer class="content__footer"></footer>
{{ end }}

{{define "aside" }}
{{ if .Params.description }}<p typeof="abstract">{{ .Params.description }}</p>{{ end }}
{{ if or (.Params.author) (.Params.date) }}
<p>
    {{ if .Params.author }}
    By
    <span property="author"> <span typeof="Person"><span property="name">{{ .Params.author }}</span></span></span>
    {{ if .Date }}, {{ end }}{{ end }}
    {{ if .Date }}<span property="dateModified">{{ .Date.Format "2006-01-02" }}</span>
    {{ end }}
</p>
{{ end }}

{{ if and (.Params.toc) (.TableOfContents) }}
<hr>
On this page:
{{ .TableOfContents }}
{{ end }}
{{ end }}