{{ define "main" }}
<header class="content__header">

    <div class="section-path">{{.CurrentSection}}</div>
    {{ if (.Params.series) }}<div class="series-path">{{.Params.series}}</div>{{end}}<br>

    {{ if .Params.tags }} {{range .Params.tags }}<div class="tag">{{ . }}</div>{{ end }}<br>{{ end }}

    <h1>{{ .Title | markdownify }}</h1>
</header>
<div class="content__body">
    {{ .Content }}
</div>
<footer class="content__footer"></footer>
{{ end }}

{{define "aside" }}
{{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
{{ if or (.Params.author) (.Params.date) }}
<p>
    {{ if .Params.author }}By {{ .Params.author }}{{ if .Date }}, {{ end }}{{ end }}
    {{ if .Date }}{{ .Date.Format "2006-01-02" }}{{ end }}
</p>
{{ end }}

{{ if and (.Params.toc) (.TableOfContents) }}
<hr>
On this page:
{{ .TableOfContents }}
{{ end }}
{{ end }}